<mat-card fxFlex>
    <mat-card-title>
        Novo Autor
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="authorForm" (ngSubmit)="save()" fxLayout="column" fxLayoutAlign="space-between">
            <input type="hidden" formControlName="_id">
                
            <mat-form-field>
                <input matInput [(ngModel)]="authorName" placeholder="Nome" formControlName="name">
            </mat-form-field>                        
                
            <div fxLayout="row" fxLayoutAlign="end end">
                <button mat-button color="primary" type="submit">Salvar</button>
                <button mat-button color="warn" type="reset">Cancelar</button>
            </div>
        </form>

        <ng-container *ngIf="authors?.length>0; else empty">
            <mat-list>
                <h3 mat-subheader>Autores</h3>
                <mat-list-item *ngFor="let a of authors">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{ a.name }}</h4>
                    <mat-chip-list mat-line>
                        <mat-chip *ngFor="let b of books">{{b.title}}</mat-chip>
                    </mat-chip-list>
                    <button mat-icon-button color="accent" (click)="delete(a)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="edit(a)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </ng-container>

    </mat-card-content>    
</mat-card>